@media screen and (min-width: 0) {
	.inside #map-container {
		width: 100%;
	}
	.inside #map {
		width: 100%;
	}
	.inside #restaurant-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 40px;
		width: 100%;
	}
	#restaurant-address {
		font-size: 16px;
	}
	.inside #restaurant-cuisine {
		width: 100%;
	}
	.inside #reviews-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#reviews-list li p:nth-child(-n+3) {
		font-weight: bold;
		font-size: 14px;
	}
	#restaurant-hours td {
		font-size: 14px;
	}
	#breadcrumb {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#breadcrumb li {
		font-size: 16px;
	}
nav h1 {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	#restaurant-hours caption {
		font-size: 1.3em;
		font-weight: 600;
		letter-spacing: 1px;
		padding: 10px 0;
	}
	#maincontent {
		margin-top: 10px;
	}
}

@media screen and (max-width: 499px) {
	nav h1 a {
		letter-spacing: 5px;
	}
	nav {
		height: 60px;
	}
	.inside #restaurant-name {
		font-size: 18px;
	}
	.inside #restaurant-hours td {
		padding: 5px;
	}
}

@media screen and (min-width: 500px) {
	#restaurant-hours td:nth-child(even) {
		padding-left: 30px;
	}
	#restaurant-hours td {
		font-size: 18px;
		padding: 6px;
	}
	#reviews-list li p {
		font-size: 16px;
	}
	#breadcrumb {
		padding-top: 10px;
	}
}

@media screen and (min-width: 768px) {
	#breadcrumb {
		padding-top: 10px;
	}
	#breadcrumb li {
		font-size: 20px;
	}
	.inside nav {
		margin-bottom: 10px;
	}
	#restaurant-address {
		font-size: 18px;
	}
}

@media screen and (min-width: 800px) {
	.inside #restaurant-img {
		width: 70%;
	}
	@media screen and (min-width: 900px) {
		#reviews-list li p:nth-child(-n+3) {
			font-size: 18px;
		}
		#reviews-list li p:nth-child(4) {
			font-size: 18px;
		}
		#restaurant-hours td:nth-child(even) {
			padding-left: 50px;
		}
		#restaurant-cuisine {
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.inside #restaurant-img {
		width: 60%;
	}
	.inside nav {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1250px) {
	#breadcrumb li {
		font-size: 24px;
	}
}