@media screen and (max-width: 499px) {
	.filter-options h2 {
		padding-top: 8px;
	}
	.filter-options {
		flex-direction: column;
	}
	.filter-options:last-of-type {
		padding-bottom: 5px;
	}
	#restaurants-list li {
		width: 250px;
	}
}

@media screen and (min-width: 500px) {
	#restaurants-list li {
		width: 350px;
	}
	#restaurants-list li p {
		font-size: 16px;
	}
	#restaurants-list li h1 {
		font-size: 24px;
	}
	.filter-options {
		flex-direction: row;
		justify-content: center;
		padding: 20px;
	}
	.filter-options h2 {
		font-size: 1.4rem; 
	}
}

@media screen and (min-width: 600px) {
	#restaurants-list li {
		width: 400px;
		margin-bottom: 30px;
	}
	#restaurants-list li p {
		font-size: 18px;
	}
	#restaurants-list li h1 {
		font-size: 24px;
	}
}

@media screen and (min-width: 700px) {
	#restaurants-list li p {
		font-size: 16px;
	}
	#restaurants-list li h1 {
		font-size: 20px;
	}
}

@media screen and (min-width: 1024px) {
	#restaurants-list li h1 {
		font-size: 20px;
	}
	#restaurants-list li p {
		font-size: 16px;
	}
	#restaurants-list li a {
		font-size: 16px;
		padding: 10px 30px 10px;
	}
}

@media screen and (min-width: 1200px) {
	.filter-options {
		justify-content: flex-start;
	}
	/* #restaurants-list li {
		width: 250px;
	} */
}