.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #900011;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}

@media screen and (min-width: 0) {
	nav h1 a {
		font-size: 18px;
	}

	nav h1 {
		padding-top: 15px;
	}
}

@media screen and (max-width: 499px) {
	.filter-options h2 {
		padding-top: 8px;
	}

	.filter-options {
		flex-direction: column;
	}

	.filter-options:last-of-type {
		padding-bottom: 5px;
	}

	#restaurants-list li {
		width: 250px;
	}
}

@media screen and (min-width: 500px) {
	#restaurants-list li {
		width: 350px;
	}

	#restaurants-list li p {
		font-size: 16px;
	}

	#restaurants-list li h1 {
		font-size: 24px;
	}

	.filter-options {
		flex-direction: row;
		justify-content: center;
		padding: 20px;
	}

	.filter-options h2 {
		font-size: 1.4rem;
	}

	nav h1 {
		padding-top: 25px;
	}
}

@media screen and (min-width: 600px) {
	#restaurants-list li {
		width: 375px;
		margin-bottom: 30px;
	}

	#restaurants-list li p {
		font-size: 18px;
	}

	#restaurants-list li h1 {
		font-size: 24px;
	}

	nav h1 a {
		font-size: 22px;
	}
}

@media screen and (min-width: 700px) {
	#restaurants-list li {
		width: 325px;
	}

	#restaurants-list li p {
		font-size: 16px;
	}

	#restaurants-list li h1 {
		font-size: 20px;
	}
}

@media screen and (min-width: 1024px) {
	#restaurants-list li h1 {
		font-size: 20px;
	}

	#restaurants-list li p {
		font-size: 16px;
	}

	#restaurants-list li a {
		font-size: 16px;
		padding: 10px 30px 10px;
	}

	nav h1 a {
		font-size: 26px;
	}
}